#menu-opciones-izq {
	-fx-background-color: gray;	
}
.boton-menu {
	-fx-max-width: 1000000.0;
	-fx-alignment: center;
	-fx-padding: 1.0em;
	-fx-font-size: 1.0em;
	-fx-border-color: black;
	-fx-border-wight: 0.1em;

}
.boton-menu:hover {
	-fx-background-color: rgb(0.0,0.0,0.0,0.2);
	-fx-font-size: 1.1em;
	-fx-text-fill: white;
}
.boton-menu:pressed {
	-fx-background-color: rgb(0.0,0.0,0.0,0.3);
}